inventory
*.retry
*.csv
.DS_Store
ansible.cfg
passwd.txt
data
register_user.yml
vars_update.yml
*.csv
*.tar.*
*.zip
*.gz
.vagrant*
vagrant-ssh
*.retry
*.vdi
instaladores
*.exe
*.msi
*.iso
*.lock
*.der
*.pem
*.pub
id_rsa
id_rsa.pub
.bkp*
